body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('assets/—Pngtree—studying\ exam.png');
    background-color: #a370d3;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    padding-bottom: 60px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* Inspired by: https://codepen.io/havardob/pen/eYJPwdb */

  *, *:after, *:before {
	box-sizing: border-box;
}

input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
    margin-top: 5px;
    background: rgba(255, 248, 248, 0.8);
}
.card-heading {
	
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #531897;
	line-height: 1.222;
	
}
.card-heading small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
  }

.card-form {
	padding: 2rem 1rem 0;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
  }
  .input + .input {
    margin-top: 1.5rem;
  }
  
  .input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: 0.25rem 0;
	
}
.input-field:focus, .input-field:valid {
    outline: 0;
    border-bottom-color: #6658d3;
    
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
    color: #6658d3;
    transform: translateY(-1.5rem);
  }
  

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    cursor: pointer;
	
}
.action-button:focus {
    outline: 0;
}
.action-button:hover {
    background: #86db37;
}

/* RESULTADO */

#resultadoMedia {
  padding: 20px;
}